<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All events</title>
</head>
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #999;
    padding: 5px;
}
</style>
<body>
<h2>List of all events</h2>
<table>
    <tr>
        <th>id</th>
        <th>Event name</th>
        <th>Event date</th>
    </tr>
    {{#events}}
    <tr>
        <td><span > {{id}} </span></td>
        <td><span > {{name}} </span></td>
        <td><span > {{eventdate}} </span></td>
    </tr>
    {{/events}}
</table>
<a href="/users" title = "home page">Home page</a>
</body>
</html>