<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #999;
    padding: 5px;
}
</style>
</head>
<body>
<h2>List of all users</h2>
<table>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>last name</th>
        <th>vk id</th>
        <th>profile picture</th>
    </tr>
    {{#users}}
    <tr>
        <td><span > {{id}} </span></td>
        <td><span > {{firstName}} </span></td>
        <td><span > {{lastName}} </span></td>
        <td><span > {{vkid}} </span></td>
        <td><span > <img src="{{profilepicture}}" alt = "picture from vk.com"/> </span></td>
    </tr>
    {{/users}}
</table>
<a href="/users" title = "home page">Home page</a>
</body>
</html>