<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A User</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>last name</th>
        <th>vk id</th>
        <th>profile picture</th>
    </tr>
    {{#user}}
    <tr>
        <td><span > {{id}} </span></td>
        <td><span > {{firstName}} </span></td>
        <td><span > {{lastName}} </span></td>
        <td><span > {{vkid}} </span></td>
        <td><span > <img src="{{profilepicture}}" alt = "picture from vk.com"/> </span></td>
    </tr>
    {{/user}}
</table>
<a href="/users" title = "home page">Home page</a>
</body>
</html>